<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li>
				<button type="submit">SUBSCRIBE NOW</button>
			</li>
			<li>
				<button type="submit">LOG IN</button>
			</li>
	
			<li>
			<div class="test">
				<button id="gear-dropdown-btn">
					<i class="fas fa-cog"></i>
				</button>
			</div>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>